@model IEnumerable<Flickr.Models.Photo>

@{
    ViewData["Title"] = "Flickr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="boxes">
    @foreach (var photo in Model)
    {
        string photoImage = "";
        if (photo.Image != null)
        {
            var base64File = Convert.ToBase64String(photo.Image);
            photoImage = String.Format("data:image/gif;base64,{0}", base64File);

        }
        <div class="dope-af-card">
            <img src="@photoImage" width="200"/>
            <div class="card-title">
                <h5>@photo.Title</h5>
            </div>
            <div class="card-description">
                <p>@photo.Description</p>
            </div>
        </div>

    }

</div>
